.newNote{
    padding: 0px;
    margin-bottom: 50px;
    margin-left: 16.6%;
    margin-right: 16.6%;
    margin-top: 27rem;
    position: relative;
    width: 66.66%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    --background: rgb(255,139,148);
}

