<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-center headerStyle">
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card *ngFor="let note of notes; let i = index">
    <ion-card-header>
      <!-- Keeps track of Title entered, placeholder prompting a user to enter a note title -->
      <ion-input [(ngModel)]="note.title" placeholder="Note Title"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <!-- Keeps track of Note entered, placeholder prompting a user to enter a note -->
      <textarea [(ngModel)]="note.content" placeholder="Note"></textarea>
      <!-- Save and delete buttons within the card so that users can delete specific notes -->
      <div class="button-container">
        <ion-button (click)="saveNotes()" class="noteButtons">Save Note</ion-button>
        <ion-button (click)="deleteNote(i)" class="noteButtons">Delete</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="addNewNote()" class="newNote">Add New Note</ion-button>
</ion-content>




<ion-footer>
  <ion-toolbar class="custom-header">
    <ion-title>
      <!-- Navigation Buttons -->
      <ion-button (click)="goToHomePage()" class="navigationStyle">List</ion-button>
      <ion-button (click)="goToCalendarPage()" class="navigationStyle">Agenda</ion-button>
      <ion-button (click)="goToTimerPage()" class="navigationStyle">Timer</ion-button>
      <ion-button (click)="goToNotesPage()" class="navigationStyle">Notes</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>