.newNote{
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 16.6%;
    margin-right: 16.6%;
    margin-top: 5%;
    position: relative;
    width: 66.66%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    --background: rgb(255,139,148);
}

.noteButtons
{
    --background: rgb(255,139,148);
    width: 150px;
}

.button-container {
    display: flex;
    justify-content: center;
  }

