<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-center headerStyle">
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

</ion-content>




<ion-footer>
  <ion-toolbar class="custom-header">
    <ion-title>
      <ion-button (click)="goToHomePage()" class="navigationStyle">To Do</ion-button>
      <ion-button (click)="goToCalendarPage()" class="navigationStyle">Calendar</ion-button>
      <ion-button (click)="goToNotesPage()" class="navigationStyle">Notes</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>