<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-center headerStyle">
      To Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <br>
    <ion-list class="ion-padding">
  
      <ion-item *ngFor="let todo of todos">
        <ion-checkbox [(ngModel)]="todo.isChecked"></ion-checkbox>
        <ion-input class="todoInput" [(ngModel)]="todo.text"></ion-input>
      </ion-item>

  </ion-list>

  <div class="button-container">
    <ion-button class="todoButtons" (click)="addNewNote()">Add New Task</ion-button>
    <ion-button class="todoButtons" (click)="clearInputs()">Clear</ion-button>
  </div>

</div>


</ion-content>

<ion-footer>
  <ion-toolbar class="custom-header">
    <ion-title>
      <ion-button (click)="goToHomePage()" class="navigationStyle">List</ion-button>
      <ion-button (click)="goToCalendarPage()" class="navigationStyle">Agenda</ion-button>
      <ion-button (click)="goToTimerPage()" class="navigationStyle">Timer</ion-button>
      <ion-button (click)="goToNotesPage()" class="navigationStyle">Notes</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
