ion-input{
  font-size: 125%;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
}

.todoButtons
{
    --background: rgb(255,139,148);
    width: 150px;
    margin-top: 0px;
    padding-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

.todoInput{
  margin-left: 10px;
}

.delete{
  --background: rgb(255,139,148);
}
